

services:
    api:
        build: .
        container_name: titoolsapi
        ports: 
            - "8080:8080"
        environment:
            ASPNETCORE_ENVIRONMENT: Production
            ASPNETCORE_URLS: http://+:8080
            ConnectionStrings__MySqlConnection: "Server=mysql;Port=3306;Database=titoolsdb;Uid=titools;Pwd=tuXKbm1F1b4b"
            JwtTest__ValidIssuer: "http://localhost:8080/"
            JwtTest__ValidAudience: "http://localhost:8080"
            JwtTest__SecretKey: "CPfYHWwn0ewUdu9jpry+fyUtiwnYm2Zdr6KEpaWFuhA="
        depends_on:
            mysql:
                condition: service_healthy
            
    mysql:
        image: mysql:8
        environment:
            MYSQL_ROOT_PASSWORD: hJifdF9ZbE06
            MYSQL_DATABASE: titoolsdb
            MYSQL_USER: titools
            MYSQL_PASSWORD: tuXKbm1F1b4b
        ports:
            - "3307:3306"
        healthcheck:
            test: ["CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -u$$MYSQL_USER -p$$MYSQL_PASSWORD --silent"]
            interval: 5s
            timeout: 5s
            retries: 20
            start_period: 60s